.php_cs.cache
*.unison.tmp
LICENSE_B2B.txt
LICENSE_EE.txt
README_EE.md
node_modules/*
.DS_Store
/.idea
.docker/mysql/db/*.gz
.github/
.htaccess
.htaccess.sample
.php_cs.dist
.travis.yml
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
/.docker-sync/*
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/env.php
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/functions.php
/auth.json.sample
/bin/
/dev/*
!dev/tools
dev/tools/*
!dev/tools/grunt
dev/tools/grunt/*
!dev/tools/grunt/configs
dev/tools/grunt/configs/*
!dev/tools/grunt/configs/local-themes.js
/generated/
/grunt-config.json.sample
/index.php
/lib/
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_B2B.txt
/LICENSE_EE.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/phpserver/
/pub/static/
/pub/media/
/README_EE.md
/setup/
/var/
/vendor/
*.editorconfig
/baler/node_modules/
/baler/dist/
/npm-shrinkwrap.json
!app/**/index.php
/.env.valet
/.editorconfig
n98-magerun2.phar
